[2021-09-22 16:05] ChrisTTian667 commented on #73
I can confirm the problem still exists with version
Hangfire.AspNetCor 1.7.25 &
Hangfire.Postgres 1.8.6

[2021-09-23 21:55] AntonZiminSaritasa opened #209 "SlidingInvisibilityTimeout behavior"
The SQL Server package supports SlidingInvisibilityTimeout property:
https://www.hangfire.io/blog/2017/06/16/hangfire-1.6.14.html

Can I simulate a similar config using Hangfire.PostgreSql?

My config:
[code]

Some jobs take more than 30 minutes to complete, that's why I need the large InvisibilityTimeout value. One worker crashes and the job stays in the queue for many hours.

Ideally, some watch

[2021-09-27 07:03] ffMathy commented on #208
@styret1904 I have a feeling that this isn't the storage provider's fault. Have you tried submitting this issue at the main Hangfire repo?

[2021-09-27 09:10] styret1904 commented on #208
@ffMathy That's what i thought as well. I have submitted the same issue at the main HangFire repo as well. We can close this issuse.

[2021-09-27 09:10] #208 closed

[2021-09-27 20:08] jspaeyids commented on #183
Hi Frank,

Besides performing guard checks on each connection operation to ensure the connection is open, I can't think of a clean/reliable way of solving this at moment. As you mentioned, it's still an experimental feature and it's unpredictable how the behaviour might change in future.

At the time, we were trying to achieve multiplexing without the need for pgBouncer.

For now, we've decided to

[2021-09-28 08:12] frankhommers commented on #183
OK. I'll close this for now then. We'll reopen it when the feature gets out of its experimental phase.

[2021-09-28 08:12] #183 closed

[2021-10-01 18:51] pprometey commented on #206
I faced such a situation. Current implementation is flawed and contrary to asp .net core standards

[2021-10-02 09:17] frankhommers commented on #206
@pprometey and @colotiline : If you think it's flawed, we welcome your PR's to make it better.
Just mentioning that it is flawed does not help anyone.

[2021-10-02 11:47] pprometey commented on #206
@frankhommers Identifying and localizing the problem is half the solution.
Okay, I understand your position. I'll see what I can do with the remaining half.

[2021-10-09 14:14] 3ldar opened #210 "DateTime Utc Error after migrating NpgSql 6.0.0-rc.1"
We have encountered this error before we migrate EntityFramework using Postgresql. We fixed the error by applying a migration that converts `DateTime` columns into `timestamp with time zone`.

The exception is like below :

We also don't want to set switch `Npgsql.EnableLegacyTimestampBehavior` because we are using EntityFramework in the same application. I will share a workaround when we found on

[2021-10-09 21:50] frankhommers commented on #210
I guess we'll wait for Dappers' response. But if you upgraded to a newer Npgsql version, wouldn't that mean that it the problem is in Npgsql? Especially since it's an RC?

[2021-10-25 14:01] tonykaralis opened #211 "Hangfire fails to start after upgrading to v1.8.6"
- Postgres v11
- .NET Core 3.1
- Hangfire 1.7.25

I get the following exception when starting up our app. We just upgraded from v1.8.0.

Looking at the master branch there isn't a v16.sql file. Am I missing something?

[code]

[2021-10-27 09:17] #211 closed, assigned to nobody

[2021-11-14 11:55] senzacionale opened #213 "Message: Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while saving the entity changes. See the inner exception for details. ---> System.InvalidCastException: Cannot write DateTime with Kind=UTC to PostgreSQL type 'timestamp without time zone', consider using 'timestamp with time zone'. Note that it's not possible to mix DateTimes with different Kinds in an array/range. See the Npgsql.EnableLegacyTimestampBehavior AppContext switch to enable legacy behavior."
[System.InvalidCastException: Cannot write DateTime with Kind=UTC to PostgreSQL type 'timestamp without time zone', consider using 'timestamp with time zone'. Note that it's not possible to mix DateTimes with different Kinds in an array/range. See the Npgsql.EnableLegacyTimestampBehavior AppContext switch to enable legacy behavior.
   at Npgsql.Internal.TypeHandlers.DateTimeHandlers.TimestampHandl

[2021-11-14 14:57] frankhommers commented on #213
Are you sure you are reporting your issue at the right spot?
We don't use Entity Framework.

[2021-11-14 14:57] #213 closed

[2021-11-15 22:31] jcarrey opened #214 ""jobid" does not exist for new jobs that fail to execute the first time."
This took me a while to figure out, as I thought at first it was a bug executing the job itself, but then thought that my job should be failing otherwise all the jobs should have been failing ,but some worked just fine, and others failed all the time with this error.

[code]

The stacktrace points to:
`Hangfire.PostgreSql.PostgreSqlConnection.SetJobParamete`

This is the stack trace :
[code]

[2021-11-16 14:38] frankhommers commented on #214
Are you sure your install scripts have run correctly?

Here the column gets created:
https://github.com/frankhommers/Hangfire.PostgreSql/blob/master/src/Hangfire.PostgreSql/Scripts/Install.v11.sql

[2021-11-16 14:46] jcarrey commented on #214
The column does exist, and that's why other jobs run successfully, it's only if the job fails for the first time it executes.

[2021-11-17 10:14] frankhommers commented on #214
I don't think so. The Convert.ToInt32 would return a 0 or throw an error and JobId would still be filled.

What happens if you execute this statement manually in pgAdmin:

[code]

[2021-11-17 14:20] VisualBean commented on #124
Definitely still an issue in 1.8.6 .

Im trying to use the monitoringAPI in my integration tests to check when all jobs finished. - but I keep getting this error due to a new connection being created when calling `GetStatistics()`

[2021-11-17 18:03] jherbert commented on #214
I ran into this also after upgrading to Npgsql 6.0. I think we're running into this breaking change https://www.npgsql.org/doc/release-notes/6.0.html#parameter-names-now-use-case-sensitive-matching.

[2021-11-18 10:02] Gnomit commented on #214
You are right. The case senstive is the cause.

Also the database columns timestamp must be migrated to timestamptz for the 6.0 version.
My suggestion is to not upgrade to Npgsql 6.0 as long as Hangfire.PostgreSql does not support it.

Or add following lines when starting your application and before any Npgsql operations are invoked:
AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", tru

[2021-11-21 03:21] frankhommers commented on #214
I am working on a major code style overhaul. It's in the develop branch right now.
That should handle the jobId problem. Are you also saying there is a Timestamp related problem @Gnomit ?

[2021-11-21 03:41] cm-andrews commented on #214
i am currently updating my .net 5 project to 6 and have everything working with just the EnableLegacyCaseInsensitiveDbParameters activated. can not reproduce any problems with the timestamp columns.

[2021-11-21 09:18] Gnomit commented on #214
When EnableLegacyCaseInsensitiveDbParameters activated everything seems to work.

But in the [release notes of Npgsql 6.0](https://www.npgsql.org/doc/release-notes/6.0.html#major-changes-to-timestamp-mapping) you have the paragraph 'Major changes to timestamp mapping'. When checking the database of hangfire UTC datetimes are stored in columns of the type timestamp (timestamp without time zone). Ac

[2021-11-22 23:53] profimedica commented on #214
Cause: SQL exects jobid (owercase) but received jobId (camel case)

Please upate this line:
.Execute(sql, new { jobId = Convert.ToInt32(id, CultureInfo.InvariantCulture), name, value }));

[2021-11-23 08:47] frankhommers commented on #214
We already knew the cause @profimedica, and it's already being developed in the develop branch.

[2021-11-24 08:45] isc30 commented on #214
Hey! also running into this, is there any way I can help?

[2021-11-25 09:21] cschulzsuper opened #216 "PostgreSqlObjectsInstaller produces invalid SQL statements with uppercase schema names in 1.8.6"
Hello, we are experiencing an error during the startup of Hangfire, where we use Hangfire.PostgreSQL 1.8.6 as storage provider.

[code]

The error is probably caused by our usage of uppercase schema names. We use `Hangfire` instead of `hangfire` as schema name.

The [PostgreSqlObjectsInstaller](https://github.com/frankhommers/Hangfire.PostgreSql/blob/master/src/Hangfire.PostgreSql/PostgreSqlObject

[2021-11-27 11:42] frankhommers commented on #216
This will be fixed in the next release.

[2021-11-27 11:42] #216 closed

[2021-11-27 11:51] frankhommers commented on #214
Should be fixed in next release.

[2021-11-27 11:51] #214 closed

[2021-11-27 13:15] cschulzsuper commented on #216
Thanks for the quick fix.

[2021-11-27 17:03] dkostenevich opened #219 "Relation "hangfire .jobqueue" does not exist"
Hey guys, after update to 1.9.2 version I'm got error:
PostgresException: 42P01: relation "hangfire .jobqueue" does not exist

I'm guess that issue in space between schema and table name's (before dot).

Raw exception:
_Npgsql.PostgresException (0x80004005): 42P01: relation "hangfire .jobqueue" does not exist

POSITION: 65
   at Npgsql.Internal.NpgsqlConnector.<ReadMessage>g__ReadMessageLong|213_0

[2021-11-27 18:44] frankhommers commented on #219
Hmm, something slipped through not covered by unit tests. Thanks. It has been released.

[2021-11-27 18:44] #219 closed

[2021-11-29 13:34] frankhommers commented on #206
@colotiline or @pprometey is this something you are willing to fix?

[2021-11-30 06:23] colotiline commented on #206
No.

[2021-11-30 06:23] #206 closed

[2021-11-30 17:10] jherbert commented on #219
Hey, @frankhommers could you get a v1.9.3 version out with this? The v1.9.2 has a couple of other fixes I was after but was blocked on this issue.

Thanks so much!

[2021-11-30 17:32] dkostenevich commented on #219
@jherbert 1.9.3 has been released (using it now)
https://www.nuget.org/packages/Hangfire.PostgreSql/

[2021-11-30 17:47] jherbert commented on #219
@dkostenevich Ah my fault, was looking over on the releases page and not nuget. Thanks!

[2021-12-01 12:31] frankhommers commented on #163
Is this problem still there in 1.9.3 ?

[2021-12-01 16:20] alexrosenfeld10 commented on #163
initial testing seems to indicate so!
<img width="1494" alt="Screen Shot 2021-12-01 at 11 19 57 AM" src="https://user-images.githubusercontent.com/12940966/144271862-2524f7bd-9b33-4f67-a673-496ae9d43a10.png">

[2021-12-02 18:40] kstrophus opened #221 "v1.9.3 Wrong Duration!"
Just updated to **v1.9.3** and now all my jobs are showing as created **5 hours** ago and duration as 5 hours, when in fact they were created a few minutes ago and executing in milliseconds! If I open the job ID link it shows "Latency" of 5 hours but execution of milliseconds.

I even wiped my Postgres dev database and recreated to see what is going on.

Revert to **v1.8.6** and duration is correc

[2021-12-03 16:04] frankhommers commented on #141
Is this still the case with 1.9.3

[2021-12-03 22:59] Plasma commented on #221
I note v1.9.1 updated Npgsql from v5 to v6 which contains breaking changes in how DateTime/Timestamps are handled, see https://www.npgsql.org/efcore/release-notes/6.0.html?tabs=annotations

I haven’t looked at these latest releases yet but perhaps it’s related

[2021-12-06 10:35] frankhommers commented on #221
I thought that was only on timestamptz and not timestamp. We use timestamp to store UTC only.

[2021-12-06 10:56] Plasma commented on #221
I think there’s some implicit changes, my linked post says that:

And:

Perhaps the frontend/other code now sees a returned (or inserted?) DateTime from the database with/without the local machine offset, like it may have done before, when inserting or rendering, or the Kind properly had now changed.

I was going to try writing a test to verify the issue was related but didn’t get around to it yet

[2021-12-06 11:35] azygis opened #222 "Npgsql version"
Is there any way to support Npgsql 5.0.10 with latest Hangfire.PostgreSql packages?

Unfortunately, Npgsql follows EF Core versioning. Since Npgsql 6.0.x is only shipped with Npgsql.EntityFrameworkCore.PostgreSQL 6.0.x, we cannot use this provider from NuGet, so we're still stuck with a built dll which we have to use to fix #212.

[2021-12-07 15:21] frankhommers commented on #222
Well, I don't know what is the best way. Some people are using Npgsql 6.0, which need to have their problems fixed due to the new handling DateTimes.

I am not sure how to get it compatible with both... Do you have any suggestions?

Check these:
#210
#221

[2021-12-07 17:29] azygis commented on #222
Probably the easiest solution would be to target netstandard2.0 (I think that's what the library targets today?) / net5.0 / net6.0 with different Npgsql versions between target frameworks using conditional item groups.

That is, if the database scripts are compatible with either npgsql version (why, I believe, they are). If not - there's a bigger project to implement: split the project to three se

[2021-12-07 22:19] mantasaudickas commented on #124
Seems like this stuff is back again.
I suspect its after this PR: https://github.com/frankhommers/Hangfire.PostgreSql/pull/212/commits/deaca23c7c99de005a5fd83d65a827973a506452

Hangfire.Core: 1.7.27
Hangfire.AspNetCore: 1.7.27
Hangfire.PostgreSql: 1.9.3
.NET6

And I cannot revert to 1.8.6 because of this: https://github.com/frankhommers/Hangfire.PostgreSql/issues/214

Problem is that I cannot repr

[2021-12-08 09:43] frankhommers commented on #222
I'd rather have it concentrated here. How about I make you a contributor of this repo?

[2021-12-08 09:44] azygis commented on #222
Sure, I can help here.

[2021-12-08 09:47] frankhommers commented on #222
@vytautask Can you give azygis access to AppVeyor?

It would be nice if the appveyor scripts would procedure all the nupkg's as artificats at once, are you willing to try that @azygis ?

[2021-12-08 09:51] vytautask commented on #222
Sure, I just need an email address from @azygis to do that.

[2021-12-08 10:17] azygis commented on #222
Haven't used appveyor, but used plenty of other agents. Will try.

[2021-12-08 10:23] azygis commented on #222
I have access to AppVeyor now, so probably my question is which route should I go? Split the libraries into three (Hangfire.PostgreSql.Core / Hangfire.PostgreSql.Npgsql5 / Hangfire.PostgreSql (which would be the current package with a reference to .Core instead of direct single package), or have a separate branch for Npgsql5? I personally prefer splitting since then there's no need to port anythin

[2021-12-08 12:19] frankhommers commented on #222
Ehm, I think it would be best to end up with just two nupkg's and not three. But that's just based on my gut feeling.

[2021-12-08 15:09] azygis commented on #222
Now the real pull request is in. I'm not entirely sure how appveyor does it's magic and pushes to NuGet, but I suppose it will just pick both nupkg files based on wildcard and push them both.

[2021-12-08 22:11] frankhommers commented on #222
@azygis That isn't automated yet ;-)

For now we take the the artificats and upload them manually to NuGet

[2021-12-08 22:18] frankhommers commented on #222
If you bump the versions in the PR I'll publish them to NuGet.

[2021-12-09 06:41] azygis commented on #222
Bumped versions in csproj and updated README.md.

[2021-12-10 05:29] vytautask commented on #119
If there are some problems still, let's re-open this.

[2021-12-10 11:44] #222 closed

[2021-12-10 12:34] frankhommers commented on #221
Can you check if you have this problem with https://www.nuget.org/packages/Hangfire.PostgreSql.Npgsql5
and also with https://www.nuget.org/packages/Hangfire.PostgreSql ?

Please check only on new jobs.

Please report back as this tells us a bit more where to look.

[2021-12-10 20:44] kstrophus commented on #221
Hi Frank, tested these in a NEW job each:

https://www.nuget.org/packages/Hangfire.PostgreSql.Npgsql5 (1.9.4)
    - Correct duration

https://www.nuget.org/packages/Hangfire.PostgreSql (1.9.4)
    - 5 hr duration

Please note: It may not be safe for the Hangfire.PostgreSql code to set the new Npgsl "_AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true)_" flag because we also use Post

[2021-12-11 01:59] Plasma commented on #221
I've dug into this a bit further, the problem seems to be under Npgsql 6, that when `DateTime.UtcNow` is used during the insertion of the Job (in https://github.com/frankhommers/Hangfire.PostgreSql/blob/4c35304111248ff3ccc70179a77e06b8461a97b7/src/Hangfire.PostgreSql/PostgreSqlConnection.cs#L108 ) `Npgsql 6` is converting that to a local time and that is the value inserted into the database which

[2021-12-12 23:33] Plasma commented on #221
Hi @frankhommers see the discussion at https://github.com/npgsql/npgsql/issues/4208 in particular my note at https://github.com/npgsql/npgsql/issues/4208#issuecomment-991992141 showing the conversion happening by Postgres due to how Npgsql now sends some timestamp values.

When using npgsql 6, I think the `timestamp without time zone` (aka `timestamp` columns) must be changed to `timestamp with ti

[2021-12-13 06:08] azygis commented on #221
`timestamptz` is timestamp **without** time zone. As mentioned in the post about these data types - probably the worst alias in the world (and it shows).

[2021-12-14 11:22] DrexAt opened #225 "A transaction is already in progress; nested/concurrent transactions aren't supported."
After upgrading to version 1.9.4 it's not possible to enqueue a job if there is already an ongoing transaction.

This appears only on Linux as the handling differs on Windows. The bug occurs in `PostgreSqlStorage.cs` on line 257 where a new transaction is started.

I created a small Repro to showcase the bug. I tested it on a `mcr.microsoft.com/dotnet/sdk:6.0` docker image. Also, the test `CreateE

[2021-12-14 13:49] frankhommers commented on #221
What we need to do in my opinion is:

Leave all the tables as `timestamp`. Not `timestamptz`.
Then on every insert/update we need to convert all the dates using `.ToUniversalTime()`
Then on every retrievel we need to convert the dates to `.ToLocalTime()`

This way it should work in Npgsql5 and 6 without any special sauce.

[2021-12-15 08:00] Plasma commented on #221
I’m thinking we need to bite the bullet and change to `timestamptz` to be more “correct” going forward.

If the Timezone value set on the pg server is different to the local Timezone of the servers running Hangfire that could lead to further issues calling ToLocal/ToUniversal.

I can have a go changing the columns and trying to see what impact that has on both Npgsql 5 and 6.

[2021-12-15 08:29] denizzengin opened #226 "Hangfire.PostgreSql table schema name Lower/Upper case options."
Hi everyone,

Are there an options to change defaul(lower) hangfire postgresql table name convention to upper-case?
Because we migrate our all db tables sql server to postgre and we want to all table/db objects migrate with case sensitive named.
For instance,

current : Schema_Name.job
desired : Schema_Name."JOB"

[2021-12-15 10:10] azygis commented on #226
No, not right now. Currently all table names are hardcoded in install scripts, but I personally see the use case for configuring them, so might as well implement some form of configuration.

[2021-12-15 10:48] denizzengin commented on #226
Hi azygis,
thanks for your reply. I don't know is here right place but there are other issues when migrate sqlserver to postgres not only table/column name convension also table structure isn't matching exactly or may be wrong version installed.
Old version of hangfire sql server : 1.7.27
Current version hangfire postgre : 1.9.. I guess last release
I updated all hangfire tables and their column n

[2021-12-15 11:09] azygis commented on #226
I'm afraid there's not much we can help with here. Each provider is responsible for it's own database structure. You would need to migrate your data by hand by adjusting the scripts if you want to keep all the data.

[2021-12-15 22:46] frankhommers commented on #226
Migration from another storage is indeed your own concern. Agree with @azygis. There is also no standard way of doing this I think.

About the casing we are open for PR's on this, but I don't think I am willing to put time in this.

So I am closing this awaiting a possible PR.

[2021-12-15 22:46] #226 closed

[2021-12-15 22:47] frankhommers commented on #221
Just a reminder: Npgsql6 demands ToUniversalTime() for timestamptz. So I don't think it would make a difference.

[2021-12-20 17:58] jhartmann123 commented on #225
I just tested it with an SQL server connection and we've got the same issue there. As recently the transaction logic was copied from the SQL server implementation, that bug was copied with it. It is most probably a regression from making it compatible with mono, done in [this commit](https://github.com/HangfireIO/Hangfire/commit/b8ffde668604775e1e4b02f9cd396b3d4c241efe?diff=split).

I'll create a

[2021-12-20 20:41] jhartmann123 commented on #225
As this issue started to appear when the transaction logic was copied from `Hangfire.Sql` in [this commit](https://github.com/frankhommers/Hangfire.PostgreSql/commit/deaca23c7c99de005a5fd83d65a827973a506452), I've checked the behavior of `Hangfire.Sql`.

In that lib it also fails on windows with an exception `NotSupportedException: Enlisting in Ambient transactions is not supported.`.

However, `H

[2021-12-22 09:04] asadcr opened #229 "TimeSpan.Zero Not Supported for QueuePollInterval"
The latest hangfire Provider for SQL Server from 1.7.0 supports Zero based Queue Poll Interval.

I would like to know why it's not possible for PostgreSQL
https://github.com/HangfireIO/Hangfire/blob/v1.7.0/src/Hangfire.SqlServer/SqlServerStorageOptions.cs#L60

[2021-12-22 09:25] azygis commented on #229
Because it makes no sense and is misleading. It's almost a DoS attack if we are to _really_ use `TimeSpan.Zero` since it would query database repeatedly without any waiting at all.

If you check [SqlServerJobQueue:99](https://github.com/HangfireIO/Hangfire/blob/891369b5807991cff9d9170c7d39d3d14985daca/src/Hangfire.SqlServer/SqlServerJobQueue.cs#L99), you'll see that it's not really a zero but inst

[2021-12-22 14:19] #225 closed

[2021-12-22 14:26] frankhommers commented on #229
@azygis I agree with this. Setting it to Zero and using 50ms for real makes no sense in the SqlServerStorageOptions.
I think we could throw on that <50ms, what do you think?

[2021-12-22 14:32] azygis commented on #229
@frankhommers
Sounds good to me. Though with that I suggest to also add xmldoc's on options properties, it would then potentially be visible in intellisense before getting exceptions at runtime. At least by people who sometimes read what intellisense shows.

[2021-12-24 07:30] strigefleur commented on #163
Same happens for 1.8.6 - would love to have some attention on that fact, since we can't immediately migrate to pg6.

[2021-12-24 07:36] azygis commented on #163
There is a package now for Npgsql5. Same versioning and features, just a different name because of a different dependency - `Hangfire.PostgreSql.Npgsql5`. Simply switch to that one until you're able to use Npgsql6.

[2021-12-24 08:04] strigefleur commented on #163
Gotcha, thanks. I'll comment back as soon as we try this version.

[2021-12-24 08:16] azygis commented on #163
Please do. The primary reason why I rewrote connection management was to actually release them once done with the jobs, but I'm not sure how the dashboard works (yet). If the issue persists, need to investigate more.

[2021-12-27 01:19] Plasma commented on #221
I've spent some time looking further into understanding the issue, its pretty nuanced due to new Npgsql behavior and PG behavior with `timestamp` vs `timestamptz` columns and if the current session time zone (see `show time zone`).

## Potential fix
A simple fix may be to just ensure the connection string sets the `Timezone=UTC` property when the database or local app server is not running in the

[2021-12-27 01:58] doylemark commented on #155
Did you ever resolve this problem? @Tieantono

[2021-12-27 02:45] Plasma commented on #149
I think this feature has been implemented.

[2021-12-29 23:57] Plasma commented on #221
Fix applied via #234

[2021-12-31 19:35] frankhommers commented on #221
Thanks for the extensive research BTW @Plasma !

[2022-01-07 14:23] hhyyrylainen commented on #119
I think I just ran into this problem as well in my local dev setup while using `dotnet watch run` which causes my code to be recompiled and restarted a lot. Still it took almost an entire day for this issue to occur, and I haven't seen this before. So it seems very rare. I'm not using the latest version as I haven't updated to .NET 6 yet.

I had to wait the around 10 minutes locking timeout before

[2022-01-07 14:33] azygis commented on #119
@hhyyrylainen there's the latest version for Npgsql5 as well now: Hangfire.PostgreSql.Npgsql5. Please try that one.

[2022-01-07 14:38] hhyyrylainen commented on #119
I'll update all my nuget packages to the latest versions once I update to .NET 6. There's potentially one unit testing problem with blazor in that though I'm keeping an eye on (and I have some priority features I need to implement before I undertake major dependency version upgrades). I linked that potential problem in the issue I opened for myself to keep track of updating to .NET 6: https://gith

[2022-01-07 14:51] hhyyrylainen commented on #119
I currently have Hangfire.PostgreSql 1.8.6, I tried updating it before but I think I ran into a compatibility problem as I can't update past Hangfire.AspNetCore 1.7.26 so I went with the latest Hangfire.Postgresql version released when that Hangfire.AspNetCore version was released.

[2022-01-07 15:38] azygis commented on #119
You might have hit the compatibility problem regarding Npgsql5, not Hangfire.AspNetCore.

Since the new Hangfire.PostgreSql 1.9+ depends on Npgsql6 now, you will get runtime exceptions if you try to use it while still on Npgsql5. That was the reason a "new" package is now being pushed to NuGet - Hangfire.PostgreSql.Npgsql5 (the only difference in it is a dependency of Npgsql 5 instead of 6).

I se

[2022-01-10 19:27] anhaehne opened #236 "42P01: relation "hangfire.schema" does not exist"
Hi,

UsePostgreSqlStorage throws the following error when my application starts:

[code]

This is the first time i start the application after installing hangfire and the postgre storage. If i change the schema to something else, for example 'public' i get the same error but with `42P01: relation "public.schema" does not exist`.

Frameworks:
.net 6.0.1
Hangfire.AspNetCore 1.7.28
Hangfire.PostgreSq

[2022-01-10 20:31] azygis commented on #236
How does your `UsePostgreSqlStorage` call look like?

[2022-01-11 07:27] anhaehne commented on #236
I'm using the new top level programm style:

[code]

[2022-01-11 07:31] azygis commented on #236
Would you be able to show the logs from the start all the way to the exception? Debug level for Hangfire "namespace" would be great. It's kinda suspicious that the object installer doesn't actually install the scripts.

[2022-01-11 07:46] anhaehne commented on #236
Everything is set to debug:

[code]

The error is not logged to the log
[code]

I've just tried starting the application withou the debugger and now the hangfire schema was created. But now when i try to start with the debugger again, i get the following exception:

[code]

[2022-01-11 07:56] azygis commented on #236
Okay, so the debugger breaks processing of your current thread, but it does not break processing of background threads (which Hangfire uses). Since by the time background worker tried to do it's work schema has not been created, an exception was thrown. Now you allowed the schema to be created and everything works correctly.

Regarding missing resource exception - you can ignore that one, it's int

[2022-01-11 07:56] #236 closed

[2022-01-12 18:33] frankhommers commented on #236
v16 should exist I think?

[2022-01-12 18:37] azygis commented on #236
Not in [1.9.5](https://github.com/frankhommers/Hangfire.PostgreSql/tree/1.9.5/src/Hangfire.PostgreSql/Scripts). Did you forget to publish the package after merging the last pull request? The 1.9.5 tag was created 20 days ago, while master was updated 15 days ago, and that last update did have a new install script. In any case - 1.9.5 does not have it yet == it works as expected in this particular

[2022-01-13 12:53] frankhommers commented on #236
Ah my bad I guess ;-)

[2022-01-13 12:54] frankhommers commented on #236
I think I need to create a 1.9.6 to resolve this I guess, that feels a bit weird. I'll do it for the next commit.

[2022-01-13 13:01] azygis commented on #236
Just to be clear - there's nothing to resolve in this particular issue. The problem was with how @anhaehne ran the application. Hangfire will still try to run the jobs in the background thread while the debugging session is active on another thread. Since the objects were not installed by the time Hangfire tried to do it's job, an exception was thrown. Once he just ran the app properly, allowing s

[2022-01-14 10:46] iam-black commented on #163
Same thing after migrating to .NET 6. Hangfire.PostgreSql 1.9.5, Npgsql.EntityFrameworkCore.PostgreSQL 6.0.2
![image](https://user-images.githubusercontent.com/8601553/149502868-118a1e97-268e-4ed9-a83e-2fdec032b022.png)

[2022-01-14 13:31] iam-black commented on #124
Same thing after migrating to .NET 6. Disabling dashboard didn't help. Hangfire.PostgreSql 1.9.5, Npgsql.EntityFrameworkCore.PostgreSQL 6.0.2
I guess current active issue is #163

[2022-01-14 18:12] aamir0 opened #237 "insert or update on table "state" violates foreign key constraint "state_jobid_fkey""
Using Hangfire version 1.9.5, found an issue when trying to `Enqueue` Hangfire jobs.

The jobs are being enqueued within a `TransactionScope` that I manage. I originally got the following error:

[code]

After [finding](https://discuss.hangfire.io/t/why-does-hangfire-sqlserver-use-read-committted-isolation-mode-for-reads/3549) that jobs are created using `IsolationLevel = ReadCommitted`, I updated

[2022-01-14 21:02] aamir0 commented on #237
I'll see if I can create a small reproducible example.

In the meantime, it appears to only be an issue when running locally in VS (and have seen it on others' machines as well), but we don't see this issue when the application is running in Docker/k8s on our servers.

[2022-01-18 07:31] mantasaudickas commented on #163
I actually noticed interesting behavior: if I disable connection string pooling, my connection count starts growing and connections stays idle, but is never closed..

Normally I have these settings:
[code]

but for some tests I wanted to disable pooling at all:
[code]

which produced this graphic (while normally my connections are at about 50)..

![image](https://user-images.githubusercontent.com/

[2022-01-18 07:47] azygis commented on #163
[This](https://github.com/npgsql/npgsql/issues/3274#issuecomment-761814327) and linked issues seem to be related. We don't really do anything ourselves with the connection string/setup.

[2022-01-18 17:23] aamir0 commented on #237
The issue appears after a Hangfire upgrade that I'd done recently:

Hangfire: 1.7.19 -> 1.7.28
Hangfire.AspNetCore: 1.7.19 -> 1.7.28
Hangfire.PostgreSql: 1.8.1 -> 1.9.4

The issue is still present after upgrading Hangfire.PostgreSql again from 1.9.4 -> 1.9.5

[2022-01-18 17:43] azygis commented on #237
Did you have any chance to make a repro project? I'm running the application in VS almost every full working day and I have never experienced the issue (although still on Npgsql5). Though the postgres instance is running in docker container, not windows itself.

[2022-01-18 22:46] aamir0 commented on #237
Haven't yet created a repro project, but found that I don't see the issue when I don't try to `Enqueue` within another `TransactionScope`.

Additionally, when I add `Include Error Detail=true` to my connection string, I get the following error message from trying to `Enqueue`.

[code]

I'm running PostgreSQL on Windows directly when debugging locally in VS.

[2022-01-19 06:05] azygis commented on #237
That's weird. The exception data after the stack trace emits job id 2, while the detail at the beginning of exception complains about id 3.

[2022-01-19 14:23] aamir0 commented on #237
Apologies, that's from an error I made while copying and printing out the error. The original error message had the `jobid` consistent in both places, and I updated my post to fix that error

[2022-01-19 15:11] azygis commented on #237
Aha, suspected as much.. Well, really hope to get a repro at some point so I can investigate it further. I'm really unsure how exactly you manage the transactions.

[2022-01-20 06:05] buddzbuddy commented on #163
same issues

[2022-01-21 19:30] frankhommers commented on #163
I don't know how to approach this... Does anyone has suggestions?

[2022-01-21 21:09] iam-black commented on #163
It's not quite the fix but we switched to Redis storage for now (Hangfire.Redis.StackExchange).

[2022-01-22 20:56] azygis commented on #163
It would be interesting to see the connection strings (with sensitive details modified, of course, so all the config params are visible), how hangfire is configured (both adding services and any other configuration) and the results from `pg_stat_activity` similar to how @iam-black showed, but with all columns (especially `query_start`). I wonder if the connection is actually idle, or just gets reu

[2022-01-25 20:21] iam-black commented on #163
$"Host={host};Port={port};Database={dbName};Username={user};Password={password};IntegratedSecurity=false;CommandTimeout=15;Pooling=false";

Output from pg_stat_activity
[postgres_pg_catalog_pg_stat_activity.xlsx](https://github.com/frankhommers/Hangfire.PostgreSql/files/7936875/postgres_pg_catalog_pg_stat_activity.xlsx)

[2022-01-25 22:37] LirazHaim86 commented on #141
Yes and no, I will explaim
Yes the exception is still in there
No it's work

But becuase the exception we cannot be sure that the code is working so bottom line I think its not working

[2022-01-26 19:50] azygis commented on #163
I will try disabling pooling and checking how it goes that way. With pooling on (default) I am still only using the same amount of connections as previously (2 - 10), haven't seen a leak so far for a few days.

Question - why is the pooling off? Just curious what's the use case of disabling it altogether, considering the act of opening new connections from scratch is quite expensive.

P. S. At lea

[2022-01-26 20:05] mantasaudickas commented on #163
It makes sense to disable connection pooling on multitenant applications, where each tenant has own database.
Lets imagine if you have 1000 of these databases and you enable connection pooling - 1 request to each of these databases during pooling period will produce 1000 connections which is not acceptable. Thus aggressive pruning or pooling false are used in these cases.

[2022-01-26 22:12] iam-black commented on #163
I am not aware about roots causes of that decision but I can see how it relates to what @mantasaudickas described. In our case this is a dev env and we have ~15 services using the same DB server. Job can be triggered in a multiple services at once. So I guess the reason is the same - to prevent connection exhaustion by background jobs.

Reattached as csv.
[postgres_pg_catalog_pg_stat_activity.csv]

[2022-01-27 19:51] azygis commented on #163
Thank you for clarification. Indeed it makes sense then to have pooling off, although I've seen some posts that this might also be needed if any other "middle-man" is used, like pgBouncer, pgpool, etc. Are any of you using that?

Unfortunately, I cannot reproduce the issue even with pooling off. I can barely find even a single row of hangfire connection in `pg_stat_activity` while being on dashboa

[2022-01-30 16:47] Tieantono commented on #155
I haven't try other configuration, even on my new project, so I'm still using the above codes to make it work.

[2022-01-30 17:00] azygis commented on #155
It feels like `HfDashboardFilter` is using `JobStorage.Current` in the constructor, at which point the storage is indeed not set up yet.

In the latest versions of hangfire, `UseHangfireServer` middleware is deprecated in favor of just plain service registrations.

Regarding idle connections - yes, that is normal, to increase performance by not opening new physical connections, by default the Npgs

[2022-02-01 20:11] AMalininHere opened #238 "Support passing of connection factory to PostgreSqlStorage"
Hello!

Could you add support for passing of connection factory to `PostgreSqlStorage` constructor? Similar constructor exists in `Hangfire.SqlServer`(https://github.com/HangfireIO/Hangfire/blob/master/src/Hangfire.SqlServer/SqlServerStorage.cs#L119).

[2022-02-01 22:37] frankhommers commented on #238
Can you make a PR for this?

[2022-02-01 22:38] frankhommers commented on #229
@asadcr are you willing to make a PR for this?

[2022-02-02 06:50] AMalininHere commented on #238
I will be glad to make a PR for this

[2022-02-02 19:00] AMalininHere commented on #238
Hello, @frankhommers!

As I saw, at the moment there are manipulations with the connection string in the PostgreSqlStorage class, such as the configuration of the time zone and setting the "Enlist" flag. So maybe it would be better to support providing of connection string factory?

[2022-02-02 21:48] frankhommers commented on #238
Nah, I wouldn't do it that way.

I would change something like this:

[code]

Having a factory in there, but after a created connection from the factory you can still validate the transaction scope enlistment. Same as in this snippet above.

[2022-02-05 19:31] m0nax3 commented on #221
sorry, but still bug here :)
app culture = CultureInfo.InvariantCulture
real workstation timezone = +3h
Npgsql6
dashbord displays wrong duration (and all other timings)

i've manual change columns to **timesnampz** and all become perfect, but it's not really ok when default db schema incorrect

[2022-02-05 20:06] azygis commented on #221
True, hence the issue is still open. Even though it's fixed, the package is not published to NuGet yet.

Last I heard Frank is still working on something before releasing a new version.

[2022-02-07 08:07] azygis commented on #149
The feature is indeed implemented, the options value is just a different name: `JobExpirationCheckInterval`.

[2022-02-07 08:07] #149 closed

[2022-02-07 08:14] azygis commented on #155
Closing the issue. Feel free to reopen it if you need help investigating more.

As said in the last comment, it looks like something somewhere tries to access `JobStorage.Current` before the configuration/startup has been fully completed.

[2022-02-07 08:14] #155 closed

[2022-02-07 11:04] azygis commented on #168
The IDs are not randomly generated since all of the IDs in this package use [SERIAL](https://www.postgresql.org/docs/current/datatype-numeric.html#DATATYPE-SERIAL). Technically there _can_ be some small gaps (see notes in the link), but it's definitely not random.

Since this package is based very much on the Hangfire.SqlServer implementation, and [they use Id as sort order](https://github.com/Han

[2022-02-07 11:04] #168 closed

[2022-02-07 11:06] azygis commented on #192
Issue has been resolved internally, release is pending.

[2022-02-07 11:21] azygis commented on #156
The connection management has been rewritten with release 1.9 and no connections are being held indefinitely by the library itself (like it has been previously, [as this comment says](https://github.com/frankhommers/Hangfire.PostgreSql/issues/140#issuecomment-607293455)). Whatever else is happening under the hood, in Npgsql, we do not really control.

It would be great if you try that again using

[2022-02-07 11:21] #156 closed

[2022-02-09 03:17] kriskristinsson opened #240 "Misleading error message when passing connection name instead of full connection string into UsePostgreSqlStorage extension method."
The issue can be boiled down to a poorly named variable in conjunction with a poorly worded exception message.

The first issue is that the following extension method
   `PostgreSqlBootstrapperConfigurationExtensions.UsePostgreSqlStorage(string nameOrConnectionString, ...)`
accepts a variable called `nameOrConnectionString`, this gives the developer the impression that passing the full connection

[2022-02-09 19:27] lncendia opened #241 "Are there plans to support transactions in the future?"
The MS SQL extension for hangfire has long abandoned the invisibility timeout in favor of using transitions, which helped to avoid restarting tasks and instantly starting them at an emergency end. Are there any plans to add such functionality in the future?

[2022-02-10 07:38] feic8700425 opened #242 "BackgroundJob repeated execution and throw exception"
Hangfire.PostgreSql Ver：1.9.5

some BackgroundJob will repeated execution in the same time

error:
 at Dapper.SqlMapper.ExecuteCommand(IDbConnection cnn, CommandDefinition& command, Action`2 paramReader) in /_/Dapper/SqlMapper.cs:line 2858
 at Dapper.SqlMapper.ExecuteImpl(IDbConnection cnn, CommandDefinition& command) in /_/Dapper/SqlMapper.cs:line 581
 at Hangfire.PostgreSql.PostgreSqlDistributed

[2022-02-10 08:05] azygis commented on #242
Please provide a full exception with full stack trace. This seems stripped off a lot.

[2022-02-10 08:11] azygis commented on #240
Whoops, good find. Looks like there was a little too much copy pasting in the beginning from Hangfire.SqlServer! Even some XmlDoc's mention SQL Server instead of PostgreSQL.

Would you be able to create a pull request for that? We don't really need to support connection strings by name, just throw a correct exception and rename the argument. To support the name we need to also pass the `IConfigura

[2022-02-10 08:28] feic8700425 commented on #242
Hangfire.AspNetCore Ver：1.7.28
Hangfire.PostgreSql Ver：1.9.5
Dapper Ver：2.0.123
Npgsql Ver：6.0.0

warn: Hangfire.PostgreSql.PostgreSqlDistributedLock[0]
public:job:13021394:state-lock: Failed to lock with transaction
Npgsql.PostgresException (0x80004005): 40001: could not serialize access due to concurrent update
at Npgsql.Internal.NpgsqlConnector.<ReadMessage>g__ReadMessageLong|213_0(NpgsqlConnec

[2022-02-10 15:51] azygis commented on #242
This is normal, exception is handled internally. You can configure your logger to ignore anything lower than error level with whatever logging provider you use. The log message is output to make it possible to investigate the actual exception in case there are infrastructure issues.

[2022-02-10 15:51] #242 closed

[2022-02-11 23:10] #192 closed

[2022-02-11 23:10] #229 closed

[2022-02-11 23:12] frankhommers commented on #209
@azygis did you make this happen in the last PRs or am I wrong?

[2022-02-12 05:18] azygis commented on #209
Nope, none of the timeouts in there. Though I'd rather use transactions and obsolete these altogether.

[2022-02-12 21:34] lncendia commented on #241
And what about Sliding In visibility Timeout?

[2022-02-13 22:20] Frazi1 commented on #209
I'm willing to work on this, but don't have much time. I'll see if I can make something next weekend.

However, I'm still not sure how to better approach this.

1) the simplest option is to have a watchdog monitor dead servers and requeue jobs (that's what @AntonZiminSaritasa suggested above). On my previous job, we had this solution working for a while in production without any noticable trouble.

[2022-02-13 22:27] Frazi1 commented on #241
As far as I'm aware, Ms SQL uses sliding invisibility timeout to handle this. I haven't seen the transaction approach you mentioned. @Incendia can you please point me at it?

[2022-02-14 03:48] feic8700425 opened #245 "BackgroundJob.Schedule() Once But Enqueued Twice"
Hangfire.AspNetCore Ver：1.7.28
Hangfire.PostgreSql Ver：1.9.5
Dapper Ver：2.0.123
Npgsql Ver：6.0.0

BackgroundJob.Schedule() once, but Hangfire enqueued twice, server workers: 20

![image](https://user-images.githubusercontent.com/64301817/153796609-10c8c684-14ae-4f9e-9657-9fbc8fa8b818.png)
![image](https://user-images.githubusercontent.com/64301817/153796866-1a26a113-40ff-4c47-adc1-7b6a4f12a7b3.png

[2022-02-14 05:50] AntonZiminSaritasa commented on #209
Personally, I migrated my Hangfire DB to SQL Server, it works fine. I prefer Option #2.

[2022-02-14 06:03] azygis commented on #209
@Frazi1
Sorry, I did not see yet how the SqlServer provider does this. Had a quick google search when I saw this issue, their [1.5 release notes](https://www.hangfire.io/blog/2015/07/31/hangfire-1.5.0-beta.html#instant-re-queue-for-sql-server) mention that they're now using transactions. Since the version is that old, they might have changed the implementation substantially.

All in all, my previo

[2022-02-14 06:16] azygis commented on #245
Please use version 1.9.6, looking at the job timings, one job was enqueued in +8h, second one in -8h (from first job; ultimately at the same time). It looks that it might be related to the timezone issues which were fixed in the last version.

[2022-02-14 06:41] feic8700425 commented on #245
thx, I try it right now

[2022-02-14 12:13] lncendia commented on #241
https://www.hangfire.io/blog/2015/07/31/hangfire-1.5.0-beta.html

"Instant Re-Queue for SQL Server
Say goodbye to confusing invisibility timeout with unexpected background job retries after 30 minutes (by default) when using SQL Server. New Hangfire.SqlServer implementation uses plain old transactions to fetch background jobs and hide them from other workers.
Even after ungraceful shutdown, the jo

[2022-02-14 17:40] Frazi1 commented on #241
I suggest closing this issue in favor of #209 because it is a duplicate.

[2022-02-14 17:54] azygis commented on #241
Indeed!

[2022-02-14 17:54] #241 closed

[2022-02-14 17:56] azygis commented on #245
@feic8700425 did you have a chance to reproduce the issue with latest version?

[2022-02-15 01:50] feic8700425 commented on #245
uat test ok yesterday, is going to be released to the production environment today
I'll check it tomorrow

[2022-02-15 03:34] feic8700425 commented on #245
System.InvalidOperationException
Could not get a value of the job parameter `CurrentUICulture`. See inner exception for details.

System.InvalidOperationException: Could not get a value of the job parameter `CurrentUICulture`. See inner exception for details.
 ---> System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
   at System.Collections.Generic.Dic

[2022-02-15 03:34] feic8700425 commented on #245
System.BadImageFormatException
Could not load file or assembly '<Unknown>'. Index not found. (0x80131124)

System.BadImageFormatException: Could not load file or assembly '<Unknown>'. Index not found. (0x80131124)
File name: '<Unknown>'
   at System.Reflection.RuntimeAssembly.GetType(QCallAssembly assembly, String name, Boolean throwOnError, Boolean ignoreCase, ObjectHandleOnStack type, ObjectHand

[2022-02-15 03:38] feic8700425 commented on #245
I got lots of error when with latest version 1.9.6
cur Scheduled Jobs count: 818

[2022-02-15 17:23] azygis opened #246 "Remaining issues with `timestamptz` columns"
Hello,

I am still receiving a `timestampz` related error after upgrading to 1.9.6 when trying to delete items from the Hangfire Dashboard.

[code]

I have gone so far as to delete all the hangfire tables in my DB and let them be re-created to attempt to resolve (in case a new migration was involved) but no luck there.

_Originally posted by @stephen776 in https://github.com/frankhommers/Hangfire.

[2022-02-15 17:26] azygis commented on #246
@stephen776
While we solve that, I suggest [adding the compatibility flag](https://www.npgsql.org/doc/release-notes/6.0.html#opting-out-of-the-new-timestamp-mapping-logic), this restores the previous Npgsql handling (in case you haven't yet). Of course, it should be fixed sooner than later here, but at least for now it should be okay to be with that flag.

[2022-02-16 13:52] stephen776 commented on #246
Thanks! Is there currently an open issue for this that I can track?

On Feb 15, 2022 at 12:27:04 PM, Žygimantas A. ***@***.***>
wrote:

[2022-02-17 02:14] feic8700425 commented on #245
I got hundreds error in 1 mins after deployment(use version 1.9.6), and then I rollback the deployment.
I didn't check the timezone issues

[2022-02-17 16:05] frankhommers commented on #245
Did you start fresh?

[2022-02-22 01:54] feic8700425 commented on #245
fixed by version:
Hangfire.PostgreSql Ver：1.8.6
Npgsql Ver：5.0.7

[2022-02-22 01:54] #245 closed

[2022-03-02 20:37] jhartmann123 opened #248 "Prepared transactions appearing in 1.9.6"
After the update from 1.9.5 to 1.9.6 we get prepared transactions again when enqueuing a job within a transaction.

[code]

**Background:**
Npgsql can enlist two connections within the same transactions without starting a prepared transaction only if the connection strings of the connections are exactly the same. Even small, unrelated differences, like having a different `ApplicationName` set, cau

[2022-03-02 21:13] jhartmann123 commented on #248
I'm just preparing a PR. Writing an extensive ticket is sometimes a good way for rubber ducking :)

[2022-03-19 13:40] VictorUUsoro commented on #124
Same here after migrating to .NET 6

[2022-03-21 10:46] frankhommers commented on #163
I think we need a PR for this. I am not really using the dashboard much.

[2022-03-30 07:59] deceptiveSimplicity commented on #238
I would also like to see this feature. @AMalininHere are you still working on it? If not, I could take a look.

[2022-03-30 09:06] AMalininHere commented on #238
Hello @deceptiveSimplicity ! Unfortunately, I have no time to implement this feature. I don't mind that you take the task

[2022-03-30 14:43] stephen776 commented on #246
Any updates to report?

[2022-03-30 19:42] frankhommers commented on #246
No, we are hoping someone can dive into this issue, fix it and send a PR.

[2022-04-01 06:53] VisualBean commented on #237
I am experiencing the same, after trying to upgrade the nuget package.

Essentially I am doing the following
SomeClass.cs
[code]
SpecificJobQueuer.cs
[code]

[2022-04-12 07:19] Shaddix opened #250 "Hangfire schema isn't created (Exception in PostgreSqlObjectsInstaller: operator does not exist: integer = jsonb)"
.NET 6;
Npgsql 6.0.3;
Hangfire.PostgreSql 1.9.7;
Hangfire.Core 1.7.28;
PostgreSQL 14;

The Hangfire schema isn't created, because of the below error within PostgreSqlObjectsInstaller.

Error relates to the `UPDATE \"hangfire\".\"schema\" SET \"version\" = @Version WHERE \"version\" = @PreviousVersion;` SQL statement (if I remove it, everything runs well).
For some reason Npgsql (or something else?

[2022-04-12 12:22] #250 closed

[2022-05-19 21:28] cescobargiraldo opened #251 "Transient Runtime Error After upgrading to version 1.9.7: Failed to create background task; Collection was modified."
We recently upgraded our microservices to the latest Hangfire.PostgresSql (v.1.9.7) and we are now noticing a weird transient error that keeps popping up very often. The issue looks like this:

![image](https://user-images.githubusercontent.com/25250963/169407171-270aee64-71c6-4f83-940c-70366e2d4954.png)

The issue disappears if we re-queue the background task though, but it's unmanageable to keep

[2022-05-25 19:03] #248 closed

[2022-05-29 01:10] stephen776 commented on #246
Just checking back in. Has there been any progress on this?

I’m trying to determine if this is still an issues or a problem with my implementation

[2022-06-03 19:12] frankhommers commented on #251
@Plasma Can you maybe confirm that PR 253 is solving this?

[2022-06-07 09:52] shuaidaipeng opened #254 "我的程序搭载了hangfire.postgresql 启动仪表盘失败"
运行环境是在ubuntu系统上， 通过dotnet 可以启动仪表盘，而部署到docker上启动，缺访问不到仪表盘。这是什么原因？

[2022-06-08 01:15] Plasma commented on #251
Hi @frankhommers I've taken a look, I think there are a few things to discuss:

1. master currently has failing tests

2. PR #248 by @jhartmann123 fixes an issue where when transaction enlistment is enabled, it can cause prepared transactions, due to Enlist/Timezone being set on the connection string, which fails the query. That PR fixes that issue, but now the UTC value is not set on the Timezone

[2022-06-08 13:28] Plasma commented on #251
No worries, I've just put together #255 which the above changes

[2022-06-09 13:42] abhishekk478 opened #257 "Sometime getting relation "hangfire.lock" does not exist"
Sometimes getting below error. I checked the hangfire schema, sometime lock table doesn't created by itself, but after restarting the pods lock table gets created and starts working fine. This issue is intermittent.

      Hangfire.PostgreSql.PostgreSqlDistributedLock[0]
      HangFire:recurring-jobs:lock: Failed to remove lock
      Npgsql.PostgresException (0x80004005): 42P01: relation "hangfire

[2022-06-09 16:30] frankhommers commented on #257
Are you deleting this table every time? You should keep it I guess.
Are you using a cluster which is not in sync yet?

[2022-06-09 17:18] cescobargiraldo commented on #251
Hi guys, I was off for some days and hadn't seen this.

I see, yes, I did think to myself that the fix to move it to the constructor was too easy to be good for a long-term solution.  Thanks for the info and help with this @Plasma.

Do we know when this will make it out there to a new nuget version?

[2022-06-10 04:58] abhishekk478 commented on #257
Whenever new release deployed, database gets deleted and recreated.
I am not deleting hangfire schema or lock table explicitly.

[2022-06-13 05:30] abhishekk478 commented on #257
@Plasma In my case pods/instance are scaled down and deleted first so that the connections are terminated and then the DB is deleted, because existing connections might cause a problem for deleting the DB.
And I am not getting this issue always. It is intermittent.

[2022-06-13 07:09] azygis commented on #257
Can you see any other logs before the exception which might show anything relevant to Hangfire?

How/when is the database created?

We run our application in docker with multiple replicas and have never experienced this, even though we also recreate the database container from scratch for our CI build.

[2022-06-13 11:28] Plasma commented on #257
Perhaps you could add some verbose logging/review cloudtrail with time stamps to confirm order of events (stop container, container terminated, and timestamp of database delete, and timestamp of the exception error) as it feels like it could be a race condition.

[2022-06-13 12:27] abhishekk478 commented on #257
Ok, will do that.

[2022-06-14 09:24] #251 closed

[2022-06-14 11:08] abhishekk478 commented on #257
Steps sequence involved in release deployment according to timestamp.
1. Scaling down the pods.
2. Wiping out the database.
3. Migrating the database.
4. Deploying the image.

[2022-06-15 13:41] frankhommers commented on #257
If scaling down means not stopping them, and between 2 and 3 they want to write a lock you'll get this error.

[2022-06-15 13:41] #257 closed

[2022-06-15 16:21] abhishekk478 commented on #257
We are scaling down to 0 technically stopping. Then deleting the existing the database and creating new and restore backup. After this we are deploying new image and starts the application.
I checked lock table gets created by itself on application start as I am starting a hangfire job at startup. So, it is not possible that application write a lock in between 2 and 3 because at this time applicat

[2022-06-16 07:12] abhishekk478 commented on #257
@azygis

    Building...
    info: Hangfire.PostgreSql.PostgreSqlStorage[0]
          Start installing Hangfire SQL objects...
    info: Hangfire.PostgreSql.PostgreSqlStorage[0]
          Hangfire SQL objects installed.
    info: AWSSDK[0]
          Found AWS options in IConfiguration
    info: AWSSDK[0]
          Found credentials using the AWS SDK's default credential search
    warn: Hangfire.P

[2022-06-17 05:52] azygis commented on #257
Intetesting. Objects installer seems to have run without any problems. Think we need to add some debug logging there to see what (if any) scripts are actually run.

Can do that maybe today, but only @frankhommers can publish it to NuGet.

[2022-06-17 07:29] abhishekk478 commented on #257
@azygis Please wait for now, will let you know by monday, if we need to do this.

[2022-06-29 20:17] DmitrySikorsky commented on #155
So, with the version 1.7.30 if I initialize Hangfire like this:

[code]

and then try to call, for example, `RecurringJob.AddOrUpdate` in the `Configure` method, I will have exception from the issue title. I didn't have it locally, because locally I have development environment, and `applicationBuilder.UseHangfireDashboard()` is called. If this method is called before, `RecurringJob.AddOrUpdate` w

[2022-07-22 18:25] TheAngryByrd commented on #237
👋 Hey, we're experience similar behavior.

I was able to create a [repro here](https://github.com/TheAngryByrd/hangfire-postgres-transaction-repro/blob/master/Program.cs).

You should be able to comment in and out [the lines](https://github.com/TheAngryByrd/hangfire-postgres-transaction-repro/blob/master/Program.cs#L31-L32=)  to show the specific errors. I've left comments in there as to which err

[2022-08-22 09:54] stawr93 opened #258 "Is there any way to specify desirable transaction isolation level?"
Hey there,

My application uses serializable transaction isolation level. After I added Hangfire.PostgreSql to the app and tried to create background job, I've gotten an exception:

[code]

After some code inspection, I found that transaction isolation level defaults to ReadCommitted here: https://github.com/frankhommers/Hangfire.PostgreSql/blob/master/src/Hangfire.PostgreSql/PostgreSqlStorage.cs#

[2022-08-22 10:40] azygis commented on #258
This is _by design_, copied over from SqlServer implementation (unfortunately I am not aware of the reasoning for such default). In case it's urgent, you are more than welcome to create a pull request, if able! Shouldn't be too hard, if I remember correctly.

[2022-08-23 07:23] mheidari988 opened #259 "An unhandled exception occurred while processing the request."
We are trying to wire up Hangfire.PostgreSql with our AspNetZero project, but after first run, and when we click on Servers tab in the Dashboard we face with the following Exception:

**unhandled exception occurred while processing the request.**
![hangfire-dapper-error](https://user-images.githubusercontent.com/29603137/186095901-d352fbe8-062a-4eb0-af73-0ebaf3cab564.jpg)

Configurations:

[2022-08-25 14:23] stawr93 commented on #258
@azygis, yeah, that's pretty important for mine team. Fixed the issue, see my PR https://github.com/frankhommers/Hangfire.PostgreSql/pull/260

[2022-08-25 15:43] azygis commented on #258
@frankhommers needs to push the latest nuget package to the repository.

Thank you!

[2022-08-31 13:09] psupina commented on #246
Since you use DateTime.UtcNow (i.e. DateTimeKind.Utc) in the library, therefore database columns of the type "timestamp without time zone" need to be migrated to the type "timestamp with time zone".
https://www.npgsql.org/doc/release-notes/6.0.html#migrating-columns-from-timestamp-to-timestamptz

In the above case, there is a conflict between using DateTime.UtcNow here:
https://github.com/frankhom

[2022-09-06 01:45] alastor09 commented on #135
Above comment by @cm-andrews saved my day.

[2022-09-14 08:35] evolvedlight commented on #163
Hey,

We had this on our production application too - basically Hangfire would slowly use more and more connections until eventually we'd have port exhaustion and we'd have a production incident.

We had connection pooling turned off, because we are also using pgbouncer and the docs say that it's best to turn connection pooling off (https://www.npgsql.org/doc/compatibility.html#pgbouncer)

We had

[2022-09-14 10:11] azygis commented on #163
Please, if you can, do create the F5-able repro project. It would help a lot, since at least we are not hitting any issues in our project.
Although our connection pool is **not** off (which seems to be a common denominator for the issue at hand), and briefly disabling it never raised anything either, and I do not have enough time to setup dummy pgBouncer or something similar.

[2022-09-14 12:44] evolvedlight commented on #163
Sure, no problem, here it is: https://github.com/evolvedlight/HangFirePostgresIssue
We've tested it on PG13 and PG14, both the same, all libraries are the newest versions.
As you see, it's a standard Asp.Net Core project that includes Hangfire + Postgres. It has a job that runs every minute that spawns 5 other jobs. I even made a little gif to hopefully show it working. Thanks :)

[2022-09-16 12:49] tomi936 commented on #259
Same issue for me too, and at jobs tab.

![image](https://user-images.githubusercontent.com/3695931/190642371-a579f8b1-e85d-4485-8a14-c16fa51b339c.png)

[2022-09-20 06:01] gitlsl opened #261 "miss ExpireAt in JobDetailsDto"
https://github.com/frankhommers/Hangfire.PostgreSql/blob/master/src/Hangfire.PostgreSql/PostgreSqlMonitoringApi.cs#L262
[code]
now there are no  ExpireAt   in JobDetailsDto

 so  the DetailsPage will now show when job will Expire   https://github.com/HangfireIO/Hangfire/blob/0c816995ab480735a7d560abd131b6875f6c312b/src/Hangfire.Core/Dashboard/Pages/JobDetailsPage.cshtml#L67
[code]

[2022-09-21 08:28] #261 closed

[2022-09-26 04:57] srikanthg508 opened #263 "How to resolve this issue"
While accessing HangFire Dashboard i am facing below issue.
![image](https://user-images.githubusercontent.com/94897489/192196332-c4613ec3-f33b-462b-a292-84f4341d49e8.png).

I am using below nuget versions:

    1) .Net core 3.1
    2) Hangfire.Postgresql 1.8.6
    3) Hangfire.Postgresql.Npgsql5 1.9.9
    4) HangFire.AspNetCore 1.7.31.

Please help me to resolve this issue.

[2022-09-26 05:29] azygis commented on #263
Your versions do not seem right. You cannot have both `Hangfire.PostgreSql` and `Hangfire.PostgreSql.Npgsql5` versions installed at the same time, and also two separate versions, unless they are conditional.

`PostgreSqlStorageOptions.PrepareSchemaIfNecessary` should be set to true (it's the default) when setting the storage on Hangfire.

[2022-09-26 05:35] srikanthg508 commented on #263
Thanks for your response. Present i set the PostgreSqlStorageOptions.PrepareSchemaIfNecessary=false because i am creating tables manually by  context.Database.Migrate() using Entity Framework.

[2022-09-26 05:52] azygis commented on #263
Your entity framework instance is separate from hangfire, with a separate schema. Hangfire.PoatgreSql does not (and will not) use EF.

[2022-09-26 06:25] srikanthg508 commented on #263
Is there any possibility to resolve this issue without setting PostgreSqlStorageOptions.PrepareSchemaIfNecessary=true. Because
i created the tables manually using migration for storage.

[2022-09-26 06:31] azygis commented on #263
Sure, it's possible. As long as you create all the tables correctly (see [Scripts](https://github.com/frankhommers/Hangfire.PostgreSql/tree/master/src/Hangfire.PostgreSql/Scripts)), no exceptions would be thrown. However, I strongly advice against that since it's basically reinventing the wheel while adding a soft lock on the package version.

Why exactly are you creating the third party library t

[2022-09-29 11:09] srikanthg508 commented on #263
Thanks @azygis.It's working fine.

[2022-09-29 11:09] #263 closed

[2022-09-29 16:15] srikanthg508 opened #264 "Recurring jobs not working."
![image](https://user-images.githubusercontent.com/94897489/193083816-2c0a1996-d1bc-4230-9cde-a818195a386a.png)

How to resolve above issue...????

[2022-09-29 16:27] azygis commented on #264
Looks like the application was killed while the lock was placed to `hangfire.lock` table. Clear the table manually and it should be ok.

[2022-09-29 16:27] #264 closed

[2022-09-29 16:47] srikanthg508 commented on #264
Present there will be no data in the lock table. Even though the issue will be coming.

[2022-09-30 04:53] srikanthg508 opened #265 "Recurring jobs are not working."
![image](https://user-images.githubusercontent.com/94897489/193083816-2c0a1996-d1bc-4230-9cde-a818195a386a.png).

I tried by clearing the table of Hangfire.lock and even though the issue will be exist.

How to resolve above issue...??

[2022-10-10 11:17] jeroenhabets opened #266 "Improvement: Use JSONB datatype for columns containing JSON"
Thanks for your work! We're a happy user :).

One improvement I see is that I noticed TEXT datatype are used throughout for columns containing JSON instead of the more performant JSONB.

Did you consider using JSONB and was something stopping you? Or was JSONB not mature enough at the time you started this driver?

What are your thoughts on migrating to JSONB?

[2022-10-10 11:39] jeroenhabets commented on #266
BTW: "Out of the box, Npgsql allows reading and writing these types as strings and provides no further processing to avoid taking a dependency on an external JSON library"
https://www.npgsql.org/doc/types/jsonnet.html

[2022-10-10 18:50] frankhommers commented on #266
I am OK with this, good idea. I think Postgres 9 introduced JSONB. Everyone should be running that.
What do you think @azygis , @vytautask & @Plasma ?
If everybody agrees we welcome a PR ;-)

[2022-10-12 06:24] azygis commented on #266
To gain the performance benefits of the jsonb column, we would need to also rewrite how we get the job data. Since we just store and retrieve the whole column at runtime, and deserialize it in the app, there would not be much of the difference between text and jsonb. Perhaps only for manual querying directly in the database for debugging purposes, but just for the sake of it - not sure if it's wor

[2022-10-12 20:15] jeroenhabets commented on #266
@azygis I was indeed querying our database looking for slow jobs writing sql like this for `hangfire.state st`:

[code]
and repeated in the WHERE clause when I decided to log this ticket.

But actually the real improvement would probably be to make `PerformanceDuration` and `Latency` into separate NULL-able columns. And leave JSONB for the places where the (JSON) structure is varying (e.g. job inv

[2022-10-17 09:03] mangeshgite9 commented on #117
1.

[2022-10-17 09:03] mangeshgite9 commented on #117
1.

[2022-10-17 09:11] Jossec101 opened #267 "Transactions stuck in the queue"
Hello there,

We are using jobs that are run every minute, we have identified that after some time (we could say it is random but we did not find any evidence that triggers this behaviour) the job queues won't process any new job, the ongoing jobs are still working flawlessy. The server will also has a heartbeat and it is up and running.  Only a restart of the process will enable the queue to star

[2022-10-17 10:42] azygis commented on #267
Let's start somewhere somewhat silly.

Are you sure you don't set the queue polling interval to some very high value?

[2022-10-17 14:22] Jossec101 commented on #267
We did not set any settings, everything was default.
Config settings:
[code]

[2022-10-17 15:45] azygis commented on #267
Would you be able to create a minimal runnable project to reproduce the issue?

[2022-10-18 03:29] #265 closed

[2022-10-18 09:53] Jossec101 commented on #267
It is kinda difficult, we only found this happening on our staging environment, do you know any way to trace potential locks or something at db level that would "point" to a bug?

The thing is that with normal MSSQL storage it is working perfectly, so this poitns to a problem with either Hangfire.PostgreSql or Postgres itself.

We are using postgres:13 as a docker image.

[2022-10-23 10:27] awavevladimirmironov opened #269 "DefaultConnectionBuilder"
I installed a new version of 1.9.9 and have PostgreSQL and lib can`t find DefaultConnectionBuilder.
![devenv_PCkTVhauTY](https://user-images.githubusercontent.com/83659735/197386963-1b69a9ca-c381-4464-ba86-10ed01aaee4b.png)
What am I missing?

[2022-10-23 10:51] azygis commented on #269
I believe you are trying to use the docs for enabling SSL support in README. I'm afraid that section is somewhat misleading - there is no builder out of the box, only for our own tests.

Technically you could implement the `IConnectionFactory` in your solution and set up the connection similar to how the README shows, simply returning the connection from your factory with the certificate file set.

[2022-10-23 10:51] #269 closed

[2022-10-23 13:30] awavevladimirmironov commented on #269
thanks. it help

[2022-10-23 14:07] azygis commented on #267
Sorry, I personally may not be able to help without a repro. Chasing the issue without any way to recreate the broken state is pretty impossible. Too many settings to think of having any impact.

Not saying the library is flawless - it's just too hard to tell what's causing all this.

[2022-10-23 16:13] azygis commented on #266
Thing is, these values are not at all relevant to the library - they're needed for the Hangfire itself. Extracting the values to separate columns makes little sense, as we'd then need to retrieve the data from multiple columns, and serialize the data based on how hangfire expects the data. As it is currently, what hangfire gives for us to store, we store, and then retrieve once asked.

I'm fine wi

[2022-10-23 17:07] ercag commented on #124
is there any workaround or fix for this issue?

[2022-10-25 07:35] ercag commented on #163
Does any bug-fix or workaround for this issue?

[2022-10-25 15:15] frankhommers commented on #246
Conclusion: Npgsql demands this and it would be better to convert all `timestamp` to `timestamptz` columns.

Still someone has to do it ;-)

[2022-10-27 13:15] Rendojack opened #271 "PostgreSqlDistributedLock and Repeatable Read isolation level (could not serialize access due to concurrent update)"
### The issue:
`Npgsql.PostgresException (0x80004005): 40001: could not serialize access due to concurrent update` warnings are now hidden on application level logging (switched from WARN to DEBUG (https://github.com/frankhommers/Hangfire.PostgreSql/commit/1b2cacf70d2ecd5afd32862d3f240e8b764f8f1e) to TRACE (https://github.com/frankhommers/Hangfire.PostgreSql/commit/55e78062c5819fc6261c0b4298d386d6

[2022-10-27 13:50] azygis commented on #271
Not sure. For all I know, this has been the level since the beginning of the library, and that it's a slightly higher isolation level. I _think_ the repeatable read prevents rare edge race conditions popping up compared to read committed, but I might be mistaken.

Feel free to create a PR changing the level, but make sure to run the tests. Tests here run only after merging to master, which we'd li

[2022-11-02 23:23] hasanmanzak commented on #163
Not only `Enqueue` but the `Schedule` also.

[2022-11-08 09:55] domagojmedo commented on #237
Yea, I have the same issue with transactions, any info on a workaround or fix?

[2022-11-10 09:42] xps opened #272 ""Collection was modified; enumeration operation may not execute" on startup"
Hi,

Every now and then I get the following error on application startup:

Stack trace:

[code]

Version: 1.9.7

Unfortunately I have no steps to reproduce. Restarting the application fixes the problem.

[2022-11-10 10:22] azygis commented on #272
It was fixed in [1.9.8](https://github.com/frankhommers/Hangfire.PostgreSql/releases/tag/1.9.8). Updating the package to the latest version will help.

[2022-11-10 10:22] #272 closed

[2022-11-23 10:04] frabe1579 commented on #237
Ouch! Same problem here!

Hangfire.AspNetCore Version 1.7.32
Hangfire.Console Version 1.4.2
Hangfire.PostgreSql Version 1.9.9

[2022-11-24 09:55] kgipas opened #273 "UpdateCountLock does not timeout"
Currently `UpdateCountLock` does not have any implementation for lock timeout, like the other locking method `TransactionLockHandler` does.

This can cause issues, for example:
If an instance that's using `UpdateCountLock` is stopped ungracefully while recurring jobs are locked, the lock will never be released. Thus, no recurring jobs will be run, until the lock is manually removed from the databa

[2022-11-24 11:06] ZlobnyiSerg commented on #237
I can confirm that downgrading from Hangfire.PostgreSql Version 1.9.9 to 1.8.6 helps.
Still waiting for fix (

[2022-11-28 15:30] frankhommers commented on #237
@azygis or @vytautask , do you have time to dive into this issue? I am really occupied currently.

[2022-11-28 15:31] frankhommers commented on #273
Are  you able to submit a correcting PR for this?

[2022-11-28 15:35] frankhommers commented on #259
Are you guys using NodaTime by any chance? It seems like Deserialization of DateTime(Offset)s fail.

[2022-11-28 16:54] azygis commented on #237
Sorry, not in the near future. 😑